In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

### 4.26

In [3]:
path = 'E4-26.txt'
data = pd.read_table(path)
data

   x1     x2
0   1  18.95
1   2  19.00
2   3  17.95
3   3  15.54
4   4  14.00
5   5  12.95
6   6   8.94
7   8   7.49
8   9   6.00
9  11   3.99

(a) Tính $(\textbf{x}_j-\overline{\textbf{x}})^T\textbf{S}^{-1}(\textbf{x}_j-\overline{\textbf{x}}), j = 1, 2,..., 10$ trong đó $\textbf{x}_j=[x_{j1}, x_{j2}]^T$.

In [23]:
# Tính mean và covariance từ dữ liệu
x_mean = data.mean()
S = np.cov(data.T)

# Tính squared statistical distances
sq_stat_dists = []
for i in range(data.shape[0]):
    sq_dist = np.dot(np.dot(np.transpose(data.iloc[i]-x_mean),np.linalg.inv(S)),data.iloc[i]-x_mean)
    sq_stat_dists.append(sq_dist)
sq_stat_dists_df = pd.DataFrame(sq_stat_dists, columns=['sq_stat_dist'])
sq_stat_dists_df

   sq_stat_dist
0      1.875304
1      2.020326
2      2.900909
3      0.735266
4      0.310519
5      0.017616
6      3.732901
7      0.816540
8      1.375338
9      4.215280

(b) Sử dụng dữ liệu đã tính ở câu (a), xác định tỷ lệ của các quan sát rơi vào trong miền bao xác suất 50% của phân phối chuẩn 2 chiều.

In [19]:
chisq = stats.chi2.ppf(0.5, 2)
chisq

1.386294361119891

In [25]:
no_obs = 0
for i in range(len(sq_stat_dists)):
    if sq_stat_dists[i] <= chisq:
        print("Tỷ lệ của quan trắc thứ {} là {}".format(i, sq_stat_dists[i]))
        no_obs += 1
print("=> Có {} quan trắc thoả yêu cầu.".format(no_obs))

Tỷ lệ của quan trắc thứ 3 là 0.7352659348994637
Tỷ lệ của quan trắc thứ 4 là 0.3105191714970479
Tỷ lệ của quan trắc thứ 5 là 0.017616204787008708
Tỷ lệ của quan trắc thứ 7 là 0.8165401401502639
Tỷ lệ của quan trắc thứ 8 là 1.3753379462681126
Có 5 quan trắc thoả yêu cầu.